heading {
  color: aliceblue;
}

project {
  color: snow;
}

h1 {
  color: black;
  font-size: 48px;
  font-family: “Geneva”, sans-serif;
  text-align: center;
}

h2 {
  color: black;
  font-size: 36px;
  font-family: “Geneva”, sans-serif;
  text-align: center;
}

h3 {
  color: black;
  font-size: 24px;
  font-family: “Geneva”, sans-serif;
}

p {
  color: black;
  font-size: 12px;
  font-family: “Geneva”, sans-serif;
}
