h1 {
  color: black;
  font-size: 48px;
  font-family: “Geneva”, sans-serif;
  background-color: aliceblue;
}

h2 {
  color: black;
  font-size: 24px;
  font-family: “Geneva”, sans-serif;
  background-color: snow;
}

p {
  color: black;
  font-size: 12px;
  font-family: “Geneva”, sans-serif;
  background-color: snow;
}
